#welcome{
    background-image: url("images/ip3.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    text-align: center;
    color: white;
    padding: 200px;
}
#about{
    text-align: center;
    line-height: 35px;
}
#services{
    background-image: url("images/ip3\ img2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    /* height: 100vh; */
    text-align: center;
    color: white;
    line-height: 30px;
    padding: 90px;
}
h3{
    text-align: center;
}
#Contact{
    background-image: url("images/ip3\ img1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    /* height: 100vh; */
    margin: 30px;
}
form{
    width: 800px;
    margin-left: 100px;
}
.form-group,#Name,#Email{
    display: flex;
    padding: 10px;
} 
#Name, #Email{
    margin: 10px;
}
.col-md-3{
    padding: 10px;
  
}
.form-control{
    background: transparent;
}
::placeholder{
    color: white;
}
#Contact{
    padding: 40px;
    color: white;
}
.icon{
    display: flex;
    padding:0 200px 0 200px;
    justify-content: space-around;
}
.footer{
    text-align: center;
    padding: 20px;
}